app-drawer:not(:defined) {
    display: none;
}

app-drawer {
    --fancy-color: black;
}

span::before {
    content: attr(data-tooltip);
    position: absolute;
    top: 1.5em;
    font-size: 0.9em;
    padding: 1px 5px;
    display: none;
    color: white;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    transition: opacity 0.1s ease-out;
    z-index: 99;
    text-align: left;
}

span:hover::before {
    display: inline-block;
}